[submodule "BIS2151-Archive"]
	path = BIS2151-Archive
	url = https://github.com/hochschule-pforzheim/BIS2151-Archive
[submodule "BIS2151-Tutorial"]
	path = BIS2151-Tutorial
	url = https://github.com/hochschule-pforzheim/BIS2151-Tutorial
	branch = main
